@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Samarkan';
    src: url('./fonts/Samarkan-Normal.ttf') format('truetype');
}